services:
  postgres:
    image: postgres:15
    container_name: document-flow-db
    environment:
      POSTGRES_DB: document_flow

      POSTGRES_PASSWORD: postgres

    ports:
      - "5432:5432"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: document-flow-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped