spring:
  datasource:
    url: jdbc:postgresql://172.18.0.3:5432/document_flow
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/changelog-master.yaml
    enabled: true

server:
  port: 8080

logging:
  level:
    com.itqgroup: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.jdbc: DEBUG
    liquibase: DEBUG